@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Noto+Sans:ital,wght@0,700;1,400&display=swap');

*{margin: 0 auto; padding: 0; list-style: none;
    ; text-decoration: none; color:#333; font-family:'Noto Sans KR'}
.blink {
    animation: 3s blink linear infinite
}

button{
    cursor: pointer
}
@keyframes blink {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

#click{
    position: fixed;
    z-index: 10;
    width:20px;
    height: 120px;
    right:20px;
    top:40%
}

#click button{
    width:15px;
    height: 15px;
    border-radius: 50%;
    background: #888;
    border:none;
    
    
}
header{
    width:100%;
    height: 80px;
    background: #eaeaea;
    position: fixed;
    z-index: 10
}
header .name{
    float:left;
    line-height: 80px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
}
header ul{float: right;
margin-right: 20px;
}
header ul li{
    float:left; 
    width:130px;
    line-height: 80px;
    text-align: center;
    font-weight: 600;
}
header ul li a:hover{
    color:#888
}
.main{
    background: #eaeaea;
    width:100%;
    height: 800px;
}

.main div{
WIDTH: 500px;
}

.main .hello{
    width:500px;
    text-align: center;
    padding-top: 300px;
    font-weight: 800;
    margin-top: 0;
    font-size: 36px;
}

.main p{
    width:500px;
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
}

.main img{
    width:40px;
margin-left: 220px ;
margin-top: 40px;
}

.about{
    height: 780px;
}

.about h2{
    width:500px;
    text-align: center;
    margin-top: 40px;
    padding-right: 7px  ;
}

.about>ul{
    width:999px;
    height: 400px;
    margin-top: 40px;   
}

.about>ul>li{
    width:333px;
    height: 300px;
    float:left; 
}

.me{
    width:600px;
    height: 350px;
    margin-top: 30px;
}

.selfie{
    width:200px;
}
.selfie img{
    width:200px;
}

.mme{
    display:block;
    width:300px;
    padding-left: 100px;
    margin-top: 30px;
}
.mme span{
    display: inline-block;
    width:100px;
    font-weight: 700;
}

.skill{
    width:300px;
    float: right;
}

.skill>p{
    width:80px;
    
}
.skill>p>img{
    width:70px; 
    height: 65px;
    text-align: center;
}

.skill>ul{
    width:200px;
    height: 220px;
    margin-top: 30px;

}

.skill>ul li{
    width:200px;
    height: 30px;
   

}

.skill>ul>li>p{
 font-weight: 600;
 font-size: 15px;
 width:100px;
 display:inline-block;
 line-height: 30px;
 
}

.gauge{
    float:right;
    height: 30px;
}


.license{
    width:300px;
}

.licenseimg{
    width:80px;
}

.licenseimg img{
    width:70px;
    text-align: center;
}

.text{
    width:200px;
    text-align: center;
    font-weight: 600;
    margin-top: 30px;
}

.do{
    width:300px;
}

.do p{
    width:70px

}

.do p img{
    width:70px; 
    height: 65px;
    text-align: center;
}

.do ul{
    width:280px;
    float:right;
    margin-top:30px;
    font-weight: 600;
    
}

.work{
    background:#d9d9d9;
    height: 600px;
}

.work h2{
    
    width:500px;
    text-align: center;
    padding-top: 40px;
}

.one{
    margin-top:30px;
    width:1200px;
    height: 450px;
}

.semamokup{
    width:500px;
    left:10%;
    float:left;
    margin-left: 120px;
    
}

.inner{
    width:500px;
    position:absolute;
    left:900px;
    amimation:slide 2s ease-out;
}
.one h3{
    width:500px;
    margin-top: 120px;
    float:left;
    font-size: 26px;
    font-weight: bold;
    text-align: center
}
.one p{
    width:500px;
    margin-top:20px;
    float:left;
    font-size:18px;
    font-weight: 700;
    position: relative;
    text-align: center;
    
}

.one button{ 
    width:200px;
    box-sizing: border-box;
    border: 1px solid #333;
    background: rgba(255,255,255,0.5);
    padding:10px;    
    margin-top:20px;
    margin-left: 152px;
    font-size: 16px;
    font-weight: 600;
    border-radius:3px;
}

.work2{
    background: #f1f1f1;
    height: 500px;
}
.two{
    
    width:1200px;
    height: 450px;
}

.hollysmokup{
    width:500px;
    position:absolute;
    left:800px;
    margin-left: 120px;
    
}

.inner2{
    width:500px;
    position: absolute; 
    left:420px
}
.two h3{
    width:500px;
    margin-top: 130px;
    margin-left:40px;
    float:left;
    font-size: 26px;
    font-weight: bold;
    text-align: center
}
.two p{
    width:500px;
    margin-top:20px;
    margin-left:40px;
    float:left;
    font-size:18px;
    font-weight: 700;
    position: relative;
    text-align: center;
    
}

.two button{ 
    width:200px;
    box-sizing: border-box;
    border: 1px solid #333;
    background: rgba(255,255,255,0.5);
    padding:10px;    
    margin-top:20px;
    margin-left: 192px;
    font-size: 16px;
    font-weight: 600;
    border-radius:3px;
}

.contact{
    height: 300px;
    background: #999
}
.contactme{
    width:100px;
    display: block;
    padding-top: 80px;
}

.contact p{
    text-align: center;
    margin-top: 20px;
    font-weight: 700
}

@keyframes slide1{
    from{
        left:2000px;
        opacity: 0;
    }
    to{
        left:900px;
        opacity: 1;
    }
}

@keyframes slideback1{
    from{
        left:900px;
        opacity: 1;
    }
    to{
        left:3000px;
        opacity: 0;
    }
}

@keyframes slide2 {
    from{
        left:-100px;
        opacity: 0;
    }
    to{
        left:420px;
        opacity: 1;
    }
}

@keyframes slideback2{
    from{
        left:420px;
        opacity:1;
    }
    to{
        left:-100px;
        opacity:0;
    }
}

@keyframes appear{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

@keyframes disappear{
    from{
        opacity:1;
    }
    to{
        opacity:0;
    }
}
